<!doctype html>
<html lang="en" dir="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title layout:title-pattern="$CONTENT_TITLE">APP</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- inject:css-->
    <link rel="stylesheet" href="/vendor_assets/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/vendor_assets/css/daterangepicker.css">
    <link rel="stylesheet" href="/vendor_assets/css/fontawesome.css">
    <link rel="stylesheet" href="/vendor_assets/css/footable.standalone.min.css">
    <link rel="stylesheet" href="/vendor_assets/css/fullcalendar@5.2.0.css">
    <link rel="stylesheet" href="/vendor_assets/css/jquery-jvectormap-2.0.5.css">
    <link rel="stylesheet" href="/vendor_assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/vendor_assets/css/leaflet.css">
    <link rel="stylesheet" href="/vendor_assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="/vendor_assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/vendor_assets/css/MarkerCluster.css">
    <link rel="stylesheet" href="/vendor_assets/css/MarkerCluster.Default.css">
    <link rel="stylesheet" href="/vendor_assets/css/select2.min.css">
    <link rel="stylesheet" href="/vendor_assets/css/slick.css">
    <link rel="stylesheet" href="/vendor_assets/css/star-rating-svg.css">
    <link rel="stylesheet" href="/vendor_assets/css/trumbowyg.min.css">
    <link rel="stylesheet" href="/vendor_assets/css/wickedpicker.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- endinject -->

    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.ico">
</head>

<body class="layout-light side-menu overlayScroll">

<div class="mobile-author-actions"></div>
<header class="header-top">
    <nav class="navbar navbar-light">
        <div class="navbar-left">
            <a href="" class="sidebar-toggle">
                <img class="svg" src="/img/svg/bars.svg" alt="img"></a>

            <a class="navbar-brand" th:href="@{/AdminUser/home}" >
                <img class="dark" src="/img/app-logo-light.png" alt="img">
                <img class="light" src="/img/app-logo-dark.png" alt="img">
            </a>
            <div class="top-menu">

                <div class="strikingDash-top-menu position-relative">
                    <ul>
                        <li class="has-subMenu">
                            <a href="#" class="">Layouts</a>
                            <ul class="subMenu">
                                <li class="l_sidebar">
                                    <a href="#" data-layout="light">Light Mode</a>
                                </li>
                                <li class="l_sidebar">
                                    <a href="#" data-layout="dark">Dark Mode</a>
                                </li>
                                <li class="l_navbar">
                                    <a href="#" data-layout="top">Top Menu</a>
                                </li>
                                <li class="l_navbar">
                                    <a href="#" data-layout="side">Side Menu</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-subMenu">
                            <a href="#" class="">Pages</a>
                            <ul class="subMenu">
                                <li class="l_sidebar">
                                    <a data-layout="light">Filières</a>
                                </li>
                                <li class="l_sidebar">
                                    <a data-layout="light">Classes</a>
                                </li>
                                <li class="l_sidebar">
                                    <a data-layout="light">Modules</a>
                                </li>
                                <li class="l_sidebar">
                                    <a  data-layout="light">Elements</a>
                                </li>
                                <li class="l_sidebar">
                                    <a  data-layout="light">Professors</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ends: navbar-left -->

        <div class="navbar-right">
            <ul class="navbar-right__menu">
                <li class="nav-author">
                    <div class="dropdown-custom">
                        <a href="javascript:;" class="nav-item-toggle"><img src="/img/author-nav.jpg" alt="" class="rounded-circle"></a>
                        <div class="dropdown-wrapper">
                            <div class="nav-author__info">
                                <div class="author-img">
                                    <img src="/img/author-nav.jpg" alt="" class="rounded-circle">
                                </div>
                                <div>
                                    <h6><span th:text="${user.firstName} + ' ' + ${user.lastName}" >fullname</span></h6>
                                    <span th:text="${user.username}">username</span>
                                </div>
                            </div>
                            <div class="nav-author__options">
                                <ul>
                                    <li>
                                        <a href="">
                                            <span data-feather="settings"></span> Settings</a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span data-feather="users"></span> Activity</a>
                                    </li>
                                </ul>
                                <a th:href="@{/logout}" class="nav-author__signout">
                                    <span data-feather="log-out"></span> Sign Out
                                </a>
                            </div>
                        </div>
                        <!-- ends: .dropdown-wrapper -->
                    </div>
                </li>
                <!-- ends: .nav-author -->
            </ul>
            <!-- ends: .navbar-right__menu -->
            <div class="navbar-right__mobileAction d-md-none">
                <a href="#" class="btn-author-action">
                    <span data-feather="more-vertical"></span>
                </a>
            </div>
        </div>
        <!-- ends: .navbar-right -->
    </nav>
</header>
<main class="main-content">

    <aside class="sidebar-wrapper">
        <div class="sidebar sidebar-collapse" id="sidebar">
            <div class="sidebar__menu-group">
                <ul class="sidebar_nav">
                    <li class="menu-title">
                        <span>Main menu</span>
                    </li>


                    <li>
                        <a th:href="@{/AdminUser/list}" class="">
                            <span data-feather="disc" class="nav-icon"></span>
                            <span class="menu-text">users</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/AdminUser/professors}" class="">
                            <span data-feather="disc" class="nav-icon"></span>
                            <span class="menu-text">professors</span>
                        </a>
                        <a th:href="@{/AdminUser/logs}" class="">
                            <span data-feather="disc" class="nav-icon"></span>
                            <span class="menu-text">Logs</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/AdminUser/activity}" class="">
                            <span data-feather="disc" class="nav-icon"></span>
                            <span class="menu-text">activity</span>
                        </a>
                    </li>
                    <li>
<!--                        <a th:href="@{/AdminSp/elements}" class="">-->
<!--                            <span data-feather="disc" class="nav-icon"></span>-->
<!--                            <span class="menu-text">Elements</span>-->
<!--                        </a>-->
                    </li>
                    <li>
<!--                        <a th:href="@{/AdminSp/professors}" class="">-->
<!--                            <span data-feather="user" class="nav-icon"></span>-->
<!--                            <span class="menu-text">Professors</span>-->
<!--                        </a>-->
                    </li>

                    <li class="has-child">
                        <a href="#" class="">
                            <span data-feather="layout" class="nav-icon"></span>
                            <span class="menu-text">Layouts</span>
                            <span class="toggle-icon"></span>
                        </a>
                        <ul>
                            <li class="l_sidebar">
                                <a href="#" data-layout="light">Light Mode</a>
                            </li>
                            <li class="l_sidebar">
                                <a href="#" data-layout="dark">Dark Mode</a>
                            </li>
                            <li class="l_navbar">
                                <a href="#" data-layout="top">Top Menu</a>
                            </li>
                            <li class="l_navbar">
                                <a href="#" data-layout="side">Side Menu</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </aside>

    <div class="contents">

        <div class="container-fluid">

            <div layout:fragment="actual_content">
                <!--here is the actual content for each page-->

            </div>

        </div>

    </div>
</main>
<div id="overlayer">
        <span class="loader-overlay">
            <div class="atbd-spin-dots spin-lg">
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
            </div>
        </span>
</div>
<div class="overlay-dark-sidebar"></div>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDduF2tLXicDEPDMAtC6-NLOekX0A5vlnY"></script>

<script src="/vendor_assets/js/jquery/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function() {
        $.ajaxSetup({
            statusCode: {
                405: function() {
                    window.location.href = '/access-denied';
                }
            }
        });
    });
</script>
<script src="/vendor_assets/js/jquery/jquery-ui.js"></script>
<script src="/vendor_assets/js/bootstrap/popper.js"></script>
<script src="/vendor_assets/js/bootstrap/bootstrap.min.js"></script>
<script src="/vendor_assets/js/moment/moment.min.js"></script>
<script src="/vendor_assets/js/accordion.js"></script>
<script src="/vendor_assets/js/autoComplete.js"></script>
<script src="/vendor_assets/js/Chart.min.js"></script>
<script src="/vendor_assets/js/charts.js"></script>
<script src="/vendor_assets/js/daterangepicker.js"></script>
<script src="/vendor_assets/js/drawer.js"></script>
<script src="/vendor_assets/js/dynamicBadge.js"></script>
<script src="/vendor_assets/js/dynamicCheckbox.js"></script>
<script src="/vendor_assets/js/feather.min.js"></script>
<script src="/vendor_assets/js/footable.min.js"></script>
<script src="/vendor_assets/js/fullcalendar@5.2.0.js"></script>
<script src="/vendor_assets/js/google-chart.js"></script>
<script src="/vendor_assets/js/jquery-jvectormap-2.0.5.min.js"></script>
<script src="/vendor_assets/js/jquery-jvectormap-world-mill-en.js"></script>
<script src="/vendor_assets/js/jquery.countdown.min.js"></script>
<script src="/vendor_assets/js/jquery.filterizr.min.js"></script>
<script src="/vendor_assets/js/jquery.magnific-popup.min.js"></script>
<script src="/vendor_assets/js/jquery.mCustomScrollbar.min.js"></script>
<script src="/vendor_assets/js/jquery.peity.min.js"></script>
<script src="/vendor_assets/js/jquery.star-rating-svg.min.js"></script>
<script src="/vendor_assets/js/leaflet.js"></script>
<script src="/vendor_assets/js/leaflet.markercluster.js"></script>
<script src="/vendor_assets/js/loader.js"></script>
<script src="/vendor_assets/js/message.js"></script>
<script src="/vendor_assets/js/moment.js"></script>
<script src="/vendor_assets/js/muuri.min.js"></script>
<script src="/vendor_assets/js/notification.js"></script>
<script src="/vendor_assets/js/popover.js"></script>
<script src="/vendor_assets/js/select2.full.min.js"></script>
<script src="/vendor_assets/js/slick.min.js"></script>
<script src="/vendor_assets/js/trumbowyg.min.js"></script>
<script src="/vendor_assets/js/wickedpicker.min.js"></script>
<script src="/theme_assets/js/drag-drop.js"></script>
<script src="/theme_assets/js/footable.js"></script>
<script src="/theme_assets/js/full-calendar.js"></script>
<script src="/theme_assets/js/googlemap-init.js"></script>
<script src="/theme_assets/js/icon-loader.js"></script>
<script src="/theme_assets/js/jvectormap-init.js"></script>
<script src="/theme_assets/js/leaflet-init.js"></script>
<script src="/theme_assets/js/main.js"></script>


<!-- endinject-->
</body>

</html>