<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{AdminUser/layout.html}">
>
<head>
    <title layout:fragment="title">Professors - Admin USER</title>
</head>
<body>
<span layout:fragment="title">Professors</span>

<div layout:fragment="actual_content" >
    <div class="row">
        <div class="col-lg-12 mb-30">
            <div class="card mt-30">
                <div class="card-body">

                    <div class="userDatatable adv-table-table global-shadow border-0 bg-white w-100 adv-table">
                        <div class="table-responsive">
                            <div class="adv-table-table__header">
                                <h4>Professors</h4>
                                <div class="adv-table-table__button">

                                    <button class="btn btn-success btn-default btn-squared" data-toggle="modal" data-target="#add-modal">
                                        Add to users
                                    </button>

                                </div>
                            </div>
                            <div id="filter-form-container"></div>
                            <table class="table mb-0 table-borderless adv-table" data-sorting="true" data-filter-container="#filter-form-container" data-paging-current="1" data-paging-position="right" data-paging-size="10">
                                <thead>
                                <tr class="userDatatable-header">
                                    <th>
                                        <span class="userDatatable-title">select</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">id</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">First Name</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">Last Name</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">CIN</span>
                                    </th>
                                    <th data-type="html">
                                        <span class="userDatatable-title">Email</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="professor : ${professors}">
                                    <td>
                                        <div class="userDatatable-content d-flex justify-content-center align-items-center">
                                            <input class="mr-5" type="radio" name="selectedProfessor"
                                                   th:value="${professor.id}"
                                                   th:data-first-name="${professor.firstName}"
                                                   th:data-last-name="${professor.lastName}"
                                                   th:data-email="${professor.email}"
                                                   th:data-cin="${professor.cin}"
                                                   th:data-phone="${professor.phone}">
                                        </div>
                                    </td>


                                    <td>
                                        <div class="userDatatable-content" th:text="${professor.id}">ID</div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content" th:text="${professor.firstName}">
                                            FIRST_NAME
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content" th:text="${professor.lastName}">
                                            LAST_NAME
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content" th:text="${professor.cin}">
                                            CIN
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content" th:text="${professor.email}">
                                            EMAIL
                                        </div>
                                    </td>


                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal ADD CONFIRM -->
    <div class="modal-basic modal fade show" id="add-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white">
                <div class="modal-header">
                    <h6 class="modal-title">Add a new Professor</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span data-feather="x"></span></button>
                </div>
                <div class="modal-body">
                    <div class="horizontal-form">
                        <form id="add-professor-form">
                            <div class="form-group row mb-25">
                                <div class="col-sm-3 d-flex align-items-center">
                                    <label for="inputFirstNameAdd" class="col-form-label color-dark fs-14 fw-500 align-center">
                                        First Name
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control ih-medium ip-gray radius-xs b-light px-15" id="inputFirstNameAdd" disabled>
                                </div>
                            </div>
                            <div class="form-group row mb-25">
                                <div class="col-sm-3 d-flex align-items-center">
                                    <label for="inputLastNameAdd" class="col-form-label color-dark fs-14 fw-500 align-center">
                                        Last Name
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control ih-medium ip-gray radius-xs b-light px-15" id="inputLastNameAdd" disabled>
                                </div>
                            </div>
                            <div class="form-group row mb-25">
                                <div class="col-sm-3 d-flex align-items-center">
                                    <label for="inputEmailAdd" class="col-form-label color-dark fs-14 fw-500 align-center">
                                        Email
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control ih-medium ip-gray radius-xs b-light px-15" id="inputEmailAdd" placeholder="username@email.com" disabled>
                                </div>
                            </div>
                            <div class="form-group row mb-25">
                                <div class="col-sm-3 d-flex align-items-center">
                                    <label for="inputCINAdd" class="col-form-label color-dark fs-14 fw-500 align-center">
                                        CIN
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control ih-medium ip-gray radius-xs b-light px-15" id="inputCINAdd" placeholder="G######" disabled>
                                </div>
                            </div>
                            <div class="form-group row mb-25">
                                <div class="col-sm-3 d-flex align-items-center">
                                    <label for="inputPhoneAdd" class="col-form-label color-dark fs-14 fw-500 align-center">
                                        Phone
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control ih-medium ip-gray radius-xs b-light px-15" id="inputPhoneAdd" placeholder="06 ## ## ## ##" disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="save-add" class="btn btn-primary btn-sm">Save changes</button>
                    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL ADD CONFIRM -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Function to handle the "select professor" radio button click
            $(document).on("change", "input[name='selectedProfessor']", function () {
                // Retrieve the ID of the selected professor
                const professorId = $(this).val(); // Get the ID from the radio button value

                // Log the selected professor's ID to the console
                console.log("Selected Professor ID:", professorId);
            });
        });

    </script>
</div>


</body>
</html>