<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{AdminUser/layout.html}">
>
<head>
    <title layout:fragment="title">Professors - Admin USER</title>
</head>
<body>
<span layout:fragment="title">Professors</span>

<div layout:fragment="actual_content" >
    <div class="row">
        <div class="col-lg-12 mb-30">
            <div class="card mt-30">
                <div class="card-body">

                    <div class="userDatatable adv-table-table global-shadow border-0 bg-white w-100 adv-table">
                        <div class="table-responsive">
                            <div class="adv-table-table__header">
                                <h4>Professors</h4>
                                <div class="adv-table-table__button">

                                    <button class="btn btn-success btn-default btn-squared" data-toggle="modal" data-target="#add-modal">
                                        Add to users
                                    </button>

                                </div>
                            </div>
                            <div id="filter-form-container"></div>
                            <table class="table mb-0 table-borderless adv-table" data-sorting="true" data-filter-container="#filter-form-container" data-paging-current="1" data-paging-position="right" data-paging-size="10">
                                <thead>
                                <tr class="userDatatable-header">
                                    <th>
                                        <span class="userDatatable-title">select</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">id</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">First Name</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">Last Name</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">CIN</span>
                                    </th>
                                    <th data-type="html">
                                        <span class="userDatatable-title">Email</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="professor : ${professors}">
                                    <td>
                                        <div class="userDatatable-content d-flex justify-content-center align-items-center">
                                            <input class="mr-5" type="radio" name="selectedProfessor"
                                                   th:value="${professor.id}"
                                                   th:data-first-name="${professor.firstName}"
                                                   th:data-last-name="${professor.lastName}"
                                                   th:data-email="${professor.email}"
                                                   th:data-cin="${professor.cin}"
                                                   th:data-phone="${professor.phone}">
                                        </div>
                                    </td>


                                    <td>
                                        <div class="userDatatable-content" th:text="${professor.id}">ID</div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content" th:text="${professor.firstName}">
                                            FIRST_NAME
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content" th:text="${professor.lastName}">
                                            LAST_NAME
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content" th:text="${professor.cin}">
                                            CIN
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content" th:text="${professor.email}">
                                            EMAIL
                                        </div>
                                    </td>


                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal ADD CONFIRM -->

    <div class="modal-basic modal fade show" id="add-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white">
                <div class="modal-header">
                    <h6 class="modal-title">Add a new Professor</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span data-feather="x"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- No Professor Selected Message (Default View) -->
                    <div id="noProfessorSelected">
                        <h1 class="text-center text-danger">No professor selected</h1>
                    </div>

                    <!-- Form (Hidden by Default) -->
                    <div id="professorForm" style="display: none;">
                        <div class="horizontal-form">
                            <form id="add-professor-form"  th:action="@{/AdminUser/addToUser}"  method="post">
                                <div class="form-group row mb-25">
                                    <div class="col-sm-3 d-flex align-items-center">
                                        <label for="inputUserName" class="col-form-label color-dark fs-14 fw-500 align-center">
                                            Username
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control ih-medium ip-gray radius-xs b-light px-15" id="inputUserName" disabled>
                                    </div>
                                </div>
                                <div class="form-group row mb-25">
                                    <div class="col-sm-3 d-flex align-items-center">
                                        <label for="inputCin" class="col-form-label color-dark fs-14 fw-500 align-center">
                                            Cin
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control ih-medium ip-gray radius-xs b-light px-15" id="inputCin" disabled>
                                    </div>
                                </div>
                                <div class="form-group row mb-25">
                                    <div class="col-sm-3 d-flex align-items-center">
                                        <label for="inputRole" class="col-form-label color-dark fs-14 fw-500 align-center">
                                            Role
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <select id="inputRole" name="role" class="form-control ih-medium ip-gray radius-xs b-light px-15">
                                            <option value="ADMIN_SP">ADMIN_SP</option>
                                            <option value="ADMIN_NOTES">ADMIN_NOTES</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row mb-25">
                                    <div class="col-sm-3 d-flex align-items-center">
                                        <label for="password" class="col-form-label color-dark fs-14 fw-500 align-center">
                                            Password
                                        </label>
                                    </div>
                                    <div class="col-sm-9 d-flex">
                                        <input type="text" class="form-control ih-medium ip-gray radius-xs b-light px-15" id="password" name="password">
                                        <button class="btn btn-primary btn-sm radius-xs d-flex align-items-center" id="generatePasswordBtn">
                                            <i class="la la-refresh"></i>
                                        </button>
                                    </div>
                                </div>
                                <input type="hidden" id="profID" name="IDprof">
                                <div class="modal-footer">
                                    <button type="submit" id="save-add" class="btn btn-primary btn-sm">Save changes</button>
                                    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Generate random password
            $("#generatePasswordBtn").on("click", function (e) {
                e.preventDefault(); // Prevent page refresh

                const chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*";
                let password = "";
                for (let i = 0; i < 8; i++) {
                    password += chars.charAt(Math.floor(Math.random() * chars.length));
                }

                $("#password").val(password);
            });


            function updateProfessorForm() {
                const selectedProfessor = $("input[name='selectedProfessor']:checked");

                if (selectedProfessor.length > 0) {
                    const professorId = selectedProfessor.val();
                    const firstName = selectedProfessor.data("first-name");
                    const lastName = selectedProfessor.data("last-name");
                    const cin = selectedProfessor.data("cin");


                    $("#profID").val(professorId);
                    $("#inputUserName").val(firstName + lastName);
                    $("#inputCin").val(cin);


                    $("#noProfessorSelected").hide();
                    $("#professorForm").show();
                } else {

                    $("#noProfessorSelected").show();
                    $("#professorForm").hide();
                }
            }


            $(document).on("change", "input[name='selectedProfessor']", function () {
                updateProfessorForm();
            });


            $("#add-modal").on("shown.bs.modal", function () {
                updateProfessorForm();
            });


            $("#add-modal").on("hidden.bs.modal", function () {
                $("#password").val("");
            });
        });
    </script>


</div>


</body>
</html>