<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{AdminNotes/layout.html}">
>
<head>
    <title layout:fragment="title">Home - Admin Notes</title>
</head>

<body>
<span layout:fragment="title">Home</span>

<div layout:fragment="actual_content" >
    <div class="col-lg-12">

        <div class="breadcrumb-main">
            <h4 class="text-capitalize breadcrumb-title">Welcome to Admin Notes</h4>
        </div>
        <p>Here you have access to students and their notes . Click on the links in the sidebar to navigate</p>
    </div>

</div>

</body>

</html>